c1_DuckSim/build/*
!c1_DuckSim/build/.gitkeep
c2_WeatherStation/build/*
!c2_WeatherStation/build/.gitkeep
c3_StarBuzzCoffee/build/*
!c3_StarBuzzCoffee/build/.gitkeep
c4_PizzaStore/build/*
!c4_PizzaStore/build/.gitkeep
tests
